.nav.premium{
    background-color: blueviolet;
    }
    
    .wrapper.premium{
        background-color: blueviolet;
       
    }
    
    .footer.premium{
      background-color: blueviolet;
    }

    